{% extends 'auctions/layout.html'%}

{% block title %}
{{ item.name }}
{% endblock %}

{% block body %}

<div class="container detail-page">
    <h4 class="mb-3">Prekė <span class="title">{{ item.name }} {{ item.serialNumber }} </span></h4>
    <div class="image">
        <img class="big" src="{{ item.imageUrl }}" alt="{{ item.id }}">
    </div>
    <div class="item-description">
        {{ item.description }}
    </div>
    <div class="bid">
        Pradinė kaina : <strong>{{ item.startBid }}€</strong>
    </div>
    {% for bid in bids %}
    <div>{{ bid.date|date:'Y.m.d, H:i' }} &emsp; <strong> {{ bid.user.username }} </strong> pakėlė kainą iki <strong>{{ bid.bidValue }}€</strong></div>
    {% empty %}
    <div class="alert alert-warning text-center">
        Nėra statymų!
    </div>
    {% endfor %}

    <section class="my-3">
        {% if messages %}
        {% for message in messages %}
        <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
        {% endfor %}
        {% endif %}

        {% if bid and item.active == False %}

        <div class="alert alert-dark text-center">
            {% if bid.user.username == user.username %}
            Tu nupirkai šią prekę!
            {% else %}
            <strong>{{ bid.user.username }}</strong> nupirko prekę už <strong>{{ bid.bidValue }}€</strong>
            {% endif %}
        </div>

        {% endif %}

        {% if item.active and user.is_authenticated %}
        <form action="{% url 'bid' item.id %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <input type="number" name="bid" class="form-control" placeholder="Įrašyk savo kainą. Turi būti didesnė nei paskutinis statymas" step="1">
            </div>
            <div class="row justify-content-around">
                <button class="btn btn-primary" type="submit">Mano statymas</button>
                {% if item.user.username == user.username %}
                <a href="{% url 'end' item.id %}">
                    <button class="btn btn-warning" type="button">End Auction</button>
                </a>
                {% endif %}
            </div>
        </form>
        {% endif %}
    </section>

    <section>
        Komentarai:
        {% for comment in comments %}
        <div class="card comment">
            <div class="card-body">
                <div class="card-title">
                    <strong>{{ comment.user.username }}</strong>: {{ comment.commentValue }}
                </div>
                <div class="card-text">
                    <small><strong>{{ comment.date|date:'M d, h:i a' }}</strong></small>
                </div>
            </div>
        </div>
        {% empty %}
        <div class="alert alert-info mt-2">
            Komentarų nėra
        </div>
        {% endfor %}

        {% if user.is_authenticated %}
        <form action="{% url 'comment' item.id %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <textarea name="content" rows="4" class="form-control" placeholder="Rašyti komentarą"></textarea>
            </div>
            <button class="btn btn-dark py-2 px-4" type="submit">Komentuoti</button>
        </form>

        <form action="{% url 'watchlist' %}" method="post" class="add-category">
            {% csrf_token %}
            <input type="hidden" name="item" value="{{ item.id }}">
            <input type="hidden" value="{% if item in user.watchlist.all %}0{% else %}1{% endif %}" name="status">
            <button class="gradient-button watchlist" type="submit">
                {% if item in user.watchlist.all %}Nebestebėti{% else %}Stebėti{% endif %}
            </button>
        </form>
        {% endif %}
    </section>


</div>
{% endblock %}