{% extends "auctions/layout.html" %}

{% block body %}
<h2 class="py-3 m-3">Aukcione parduodamos prekės</h2>

<div class="grid-container text-center kategorijos">
    <a href="/filter/nešiojami kompiuteriai">Nešiojami kompiuteriai</a>
    <a href="/filter/mobilūs telefonai">Mobilūs telefonai</a>
    <a href="/filter/kita">Kita</a>
    <a href="/">Visos</a>
</div>

<div class="items-list">
    {% for obj in objects %}
    <!-- {{ obj }}} -->
    {{ bids }}
    <a href="{% url 'details' obj.id %}">
        <div class="item text-center" {% if obj.active != True %}style="background-color: rgba(255, 205, 0, 0.4);"
            {% endif %}>
            <img src="{{ obj.imageUrl }}" alt="Loading...">
            <div class="details">
                <h5>{{ obj.name }}</h5>
                <h6>Pradinė kaina: $<strong>{{ obj.startBid }}</strong></h6>
                {% if obj.active %}
                <span class="badge status--active">Parduodama</span>
                {% else %}
                <span class="badge status--inactive">Neparduodama</span>
                {% endif %}
                {% if obj in user.watchlist.all %}
                <span class="badge status--watching">Stebėti</span>
                {% else %}
                <span class="badge status--notwatching">Nebestebėti</span>
                {% endif %}
            </div>
        </div>
    </a>
    {% empty %}
    <div class="alert alert-info text-center p-4 my-4 mx-2">No items Available</div>
    {% endfor %}
</div>
{% endblock %}